
{% extends "base.html" %}
{% load static %}
    
{% block title %}
<title>{{book_info.title}}</title>
{% endblock %}

{% block main %}    
    <div class="container"> 
        <div class="row justify-content-lg-around">
            <div class="col-lg-4 mt-4">
                <h4>{{ book_info.title }}</h4>
                <img src="{{ book_info.posterImg }}" width=300px alt="{{ book_info.id }}">                            
            </div>
            <div class="col-sm-8 mt-4">
                <br>                
                <span>Author: &nbsp {{ author }}</span><br>  
                {% if avg_ratings in book_info %}              
                {% with ''|center:book_info.avg_rating as range %}
                    {% for _ in range %}
                        <span class="fa fa-star checked" style="color:gold;"></span>
                    {% endfor %}
                {% endwith %} 
                {% endif %}
                {% if total_ratings in book_info %}
                <span class="ml-2">Total Ratings: {{book_info.total_ratings }} </span><br>
                {% endif %}
                {% if not in_collection is True %}
                    <button class="btn btn-outline-primary" onClick="add_from_search('{{book_info.id}}')" id="add_book">Add To Collection</button>
                {% endif %}          
                <h5>Description:</h5>
                <p id="description"><span >{{ book_info.description }}</span></p>
                <a href="{{ book_info.google_link }}" target="_blank" rel="noopener noreferrer">View on Google Books</a>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-4 mt-4 form-group">
                <form action="{% url 'submit_update' book_info.id %}" method="post" class="form-group" name="update_submit">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="book_id" value="{{book_info.id}}">
                    <input type="submit" value="Add" class="btn btn-outline-primary px-5 my-2 " id="submit">                    
                </form>                
            </div>
            <div class="col-md-7 ml-1 mt-4 form-group">
                <h4>Reviews:</h4>
                <ul style="max-height: 380px; overflow-y: auto; overflow-x:hidden;" class="list-group list-group-flush">
                    {% for review in reviews %}
                        <li class="list-group-item">
                            <span>Rating: </span>
                            {% with ''|center:review.rating as range %}
                                {% for _ in range %}
                                    <span class="fa fa-star checked" style="color:gold;"></span>
                                {% endfor %}
                            {% endwith %}
                            <br>
                            <a href="/cl/users/{{review.user.id}}">{{ review.user.username }}: </a>
                            <span>{{ review.review }}</span><br>
                            <span>Posted on {{ review.created_at|date:"F jS Y" }}</span><br>
                            {% if user.id == review.user.id %}
                                <span id="delete"><a href="{% url 'delete_review' review.id %}">Remove this Review</a></span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>                     
        </div>
    </div>
{% endblock %}

