{% extends "base.html" %}
{% load static %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'css/search_page.css' %}">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Search Page</title>
{% endblock %}

{% block main %}
    <div class="container background_img1">
        <div class="row align-items-end w-100 h-100" id="space">
            <div class="col">
                <div id="title" class="center w-100 m-4">
                    <h1 id="header" class="text-center text-light">Find your book</h1>
                    <div class="row">
                        <div id="input" class="input-group mx-auto col-sm-6">
                            <input id="search-box" type="text" class="form-control" placeholder=" Harry Potter...">
                            <button id="search" class="btn btn-primary" onclick=" ">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="book-list mt-4" id="book_list">
        <h2 class="text-center" id="list_title">Search Results</h2>
        <div id="list-output" class=" ">
            <div class="row">
                <!-- card -->


            </div>
        </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="{% static 'js/search.js'%}"></script>
{% endblock %}