{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="container"> 
        <div class="row justify-content-left ">
            <div class="col-md-5 mt-4">
                <h5>User Name: {{ user.username }}</h5>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Total Reviews:</b> {{ reviews|length }}</p>
                <ul style="max-height: 400px; overflow-y: auto; overflow-x:hidden;" class="list-group list-group-flush">
                    <p><b>Posted reviews on the following books:</b></p>
                    <div class="ml-2">
                        {% for review in reviews %}
                            <li class="list-group-item">
                                <a href="{% url 'book_info' review.book.google_id %}">{{review.book.title}}</a>                                
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>                      
        </div>
    </div>
{% endblock %}