{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="container"> 
        <div class="row justify-content-left ">
            <div class="col-md-5 mt-4">

                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ user.profile.image.url }}" class="rounded-circle" height="200" alt="user profile pic" loading="lazy"/>
                        <h5>User Name: {{ profile.username }}</h5> 
                        <p><b>Email:</b> {{ profile.email }}</p>
                        <p><b>Books in collection:</b> <a href="{% url 'user_collection' profile.id %}">{{ book_count }}</a></p>  
                    </div>
                    <div class="col-md-6">
                    {% if profile != request.user%}
                        {% if is_followed %}
                            <a href="{% url 'follow' profile.id %}" class="btn btn-outline-secondary">Unfollow</a>
                        {% else %}
                            <a href="{% url 'follow' profile.id %}" class="btn btn-outline-primary">Follow</a>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-4">

                {% if profile == request.user%}
                <span>Followers: {{followers|length }}</span>
                <br>
                <span>Following: {{following|length }}</span>
                <ul class="list-group list-group-flush w-50">
                    {% for key, val in following.items %}
                        <li class="list-group-item"><a href="{% url 'user_profile' key %}">{{ val }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <span>Followers: {{followers|length }}</span>
                <br>
                <span>Following: {{following|length }}</span>
                
                {% endif %}
                <br><br>
            </div>
        </div>
        <div class="row justify-content-left ">
            <div class="col-md-5 mt-4">  
                <!-- {% if profile != request.user%}
                    {% if is_followed %}
                        <a href="{% url 'follow' profile.id %}" class="btn btn-outline-secondary">Unfollow</a>
                    {% else %}
                        <a href="{% url 'follow' profile.id %}" class="btn btn-outline-primary">Follow</a>
                    {% endif %}
                {% endif %} -->
                <p><b>Total Reviews:</b> {{ reviews|length }}</p>
                <ul style="max-height: 400px; overflow-y: auto; overflow-x:hidden;" class="list-group list-group-flush">
                    <p><b>Posted reviews on the following books:</b></p>
                    <div class="ml-2">
                        {% for review in reviews %}
                            <li class="list-group-item">
                                <a href="{% url 'book_info' review.book.google_id %}">{{review.book.title}}</a>                                
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>                      
        </div>
    </div>
{% endblock %}